html {
    font-size: 62.5%;
}

body {
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1.6rem, 2.5vmin, 1.8rem);
    color: c(grey);

    h1 {
        font-size: clamp(2.8rem, 5vmin, 6rem);
    }

    h2 {
        font-size: clamp(2.4rem, 4vmin, 5.2rem);
    }

    h3 {
        font-size: clamp(1.92rem, 3.5vmin, 4.8rem);
    }

    h4 {
        font-size: clamp(1.76rem, 3vmin, 4.4rem);
    }

    h5 {
        font-size: clamp(1.6rem, 2.5vmin, 3.92rem);
    }

    div,
    button,
    span,
    applet,
    object,
    iframe,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    input,
    textarea,
    select,
    summary,
    time,
    mark,
    audio,
    video {
        font: inherit;
        color: inherit;
        text-decoration: inherit;
    }

    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    .hero {
        text-align: center;
    }

    .hero .book {
        color: black;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .nav .button {
        color: c(primary);
    }

    .featured {
        color: black;
        text-align: center;

        [class^="featured"] {

            h5,
            p {
                text-align: left;
            }
        }
    }

    .details {

        h1 {
            color: c(primary);
        }

        .book {
            color: black;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}