$colors: (
    white: #fff,
    dark: #181818,

    primary: #FFCD3F,
    grey: #dedede,
    grey-darker: #919191,
);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);